@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@400;500;700&display=swap");

body {
  font-family: "JetBrains Mono", monospace;
  background-color: #1a1a2e; /* background from Turbo Retro palette */
  color: #6b728e; /* muted text color */
}
